section {
    padding: 5px;
    width: 100%;
}

#box-data-attribute > button:hover {
    background-color: #50c4f1;
}

#box-btns-direction{
    display: block;
    margin-top: 20px;
    padding: 5px;
    height: 18vh;
    border: 1px solid #50c4f1;
}

#box-btns-direction> button {
    margin: 2px;
    background-color: #98defc;
    border: none;
    font-size: 25px;
    padding: 3px;
}
